
<!DOCTYPE html>
<html>
<head>
  <title>Bart</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
</head>
<body>

<%= yield %>

</body>
</html>
